* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111827;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-container {
  background: #1f2937;
  width: 400px;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 10px;
  font-size: 40px;
}

.subtitle {
  margin-bottom: 30px;
  color: #cbd5e1;
}

input {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #7c3aed;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #6d28d9;
}